<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC-b87PVZ6vt4NpV4Vh2JyVmhjYHm61qGM</string>
	<key>GCM_SENDER_ID</key>
	<string>589638839371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.webadmin.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ubserweb</string>
	<key>STORAGE_BUCKET</key>
	<string>ubserweb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589638839371:ios:4dd4dcd48165a505c071ce</string>
</dict>
</plist>